<!DOCTYPE html>
<html lang="en">
<head>
  <title>Water Quality</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>



    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              Water Quality</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active">
              <a class="nav-link" href="index.html">
                  <!-- bootstrap glyphicon -->
                  
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                  </button>
                  Home <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="dash.html">
                
                <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                </button>
                Visualisations</a>
            </li>
          </ul>
        </div>
      </nav>

  <div class="content">  
      <div class="inputs">
        <h1 class="start1"> Predict Potability</h1><br>
    
         <!-- Form to enter input data predictions  -->
        <form action="{{ url_for('predict')}} "method="POST">
            
            
            <input type="text" id= "Ph" name="Ph">
            <label for="Ph">1.Enter the Ph Value</label><br>

            
            <input type="text" id= "Hardness" name="Hardness">
            <label for="Hardness">2.Enter Hardness (mg/l)</label><br>

            
            <input type="text" id= "Solids" name="Solids">
            <label for="Solids">3.Solids (Total dissolved solids - TDS) </label><br>

            
            <input type="text" id= "Chloramines" name="Chloramines">
            <label for="Chloramines">4. Chloramines ppm</label><br>

            
            <input type="text" id= "Sulfate" name="Sulfate">
            <label for="Sulfate">5.Disovled Sulfate ppm</label><br>

            
            <input type="text" id= "Conductivity" name="Conductivity">
            <label for="Conductivity">6.Electrical Conductivity of water in μS/cm</label><br>

            
            <input type="text" id= "Organic_carbon" name="Organic_carbon">
            <label for="Organic_carbon">7.Enter the amount of organic carbon in ppm</label><br>

            
            <input type="text" id= "Trihalomethanes" name="Trihalomethanes">
            <label for="Trihalomethanes">8.Enter the amount of Trihalomethanes in μg/L</label><br>

            
            <input type="text" id= "Turbidty" name="Turbidty">
            <label for="Turbidty">9.Light emiting property of water in NTU (Nephelometric Turbidity Units)</label><br>

            <br>

            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
            </form>
            <h3>
              {{prediction_text}}
            </h3> 
        </div>   
</div>
</body>
</html>

      
       

    
      